<!DOCTYPE html><html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
<table class="table">
		<tr>
			<th>courbe caractéristique pour chaque tracker <br/> de la qualité de réception en fonction de l'angle</th>
			<th>courbe caractéristique pour chaque tracker <br/> de la latence en fonction de l'angle</th>
		</tr>
    {% for img in images %}
        <tr>

           <td><img src='./template/rec/{{img}}' alt='courbe'></td>
		   <td><img src='./template/lat/{{img}}' alt='courbe'></td>

        </tr>
    {% endfor %}

</table>
</body></html>